SUPABASE_URL=https://dxjbeunscfgbourdbtna.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4amJldW5zY2ZnYm91cmRidG5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI3NTgxMiwiZXhwIjoyMDkwODUxODEyfQ.NGdGB6sEHK08j872v8ldbxUTzPMlJIQhCi97LmqaqUw
YAHOO_FINANCE_TIMEOUT_MS=4000
